@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Rafael Martinez
   Date: 10/23/18   
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
    height: 100%;
}

/* What this code does is it just make the height of the webpage 100%. */

body {
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%
}

/* What these lines of code do is it makes the body of the webpage have a border and it resizes the body.   */

header,
ul,
nav,
li,
a {
    box-sizing: border-box;
}

/* Row Styles */
.row::after {
    clear: both;
    content: "";
    display: table;
}

/* Page Header Styles */
header img {
    float: left;
    display: block;
    width: 70%;
}

/* What this code does is it pushes the image to the left and resizes it to have a width of 100%.*/

header nav {
    float: left;
    display: block;
    padding: 0% 2% 0% 2%;
    width: 30%;
}

/* What these lines of code do is it makes the links go to the right side of the image, but also it makes the nav bar smaller. */
header a {
    display: block;
    width: 100%;
}

/* This makes the header smaller and sets it width to 100%. */

/* Horizontal Navigation List Styles */
nav.horizontal li {
    display: block;
    float: left;
    width: 12.5%;
}

/* These lines of code set the nav bar to display horizontal.  */

/* Topics Styles */
ul#topics li {
    display: block;
    width: 20%;
    float: left;
    margin: 0% 1.5% 0% 1.5%;
}

#topics:first-of-type {
    margin-left: 7.75%;
}

#topics:last-of-type {
    margin: 7.75%;
}

#topics img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* What all these lines of code do is make the images set to the appropriate size but also sets them to display horizonataly.  */

/* HR Styles */
hr {
    width: 50%;
}

/* What this line of code does is it make a line break between the imagesand the customer comments. */

/* Customer Comment Styles */
ul#comments {
    width: 75%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#comments li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

#comments img {
    display: block;
    width: 20%;
    float: left;
    margin: 0 5% 0 5%;
}

/* What these lines of code do is it makes the customer comments display in two columns and also it resizes the images.  */

/* Footer Styles */
footer {
    display: block;
    clear: both;
}

/* Finally what this line of code does is it set the footer in the correct postion.  */